@import 'settings/variables.css';
@import 'settings/normalize.css';

@import 'base/base.css';
@import 'base/typography.css';

@import 'layout/header.css';

@import 'components/buttons.css';
@import 'components/tables.css';
@import 'components/admin-panel.css';

.qms-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0 8px 72px;
	border-bottom: 1px solid var(--color-border);
}

.table-actions {
	display: flex;
	align-items: center;
}

.admin-icon-add {
	justify-self: center;
}
.admin-icon-edit {
	margin-left: 16px;
}
.admin-icon-delete {
	margin-left: auto;
}

body.admin-mode .admin-icon {
	cursor: pointer;
	transition: 0.2s ease;
	opacity: 0.5;
}

body.admin-mode .admin-icon:hover {
	opacity: 1;
	transform: scale(1.05);
}

body.admin-mode .admin-mode-exit {
	display: flex;
}

body.admin-mode .admin-tr .admin-icon-save {
	margin: 4px auto;
}

body.admin-mode .add-row {
	display: grid;
	cursor: pointer;
	transition: 0.4s ease;
}

body.admin-mode .add-row:hover {
	background-color: var(--color-text-muted);
}

body.admin-mode textarea {
	width: 100%;
	background-color: var(--color-bg-btn);
	border-radius: var(--radius-md);
	font-size: var(--font-size-base);
	border: 1px solid var(--color-border);
	outline: none;
	resize: none;
}

body:not(.admin-mode) .admin-icon,
body:not(.admin-mode) .admin-actions {
	display: none;
}

@media (max-width: 892px) {
	.admin-panel .admin-check {
		display: grid;
		grid-template-rows: auto;
		align-items: center;
		row-gap: 4px;
	}
	.admin-panel .admin-code__btn {
		margin: 0;
		justify-self: start;
	}
}
