.documents-cards {
	column-count: 3;
	column-gap: 16px;
	margin: 16px 72px 0 72px;
}
.documents-cards-item {
	break-inside: avoid;
	margin-bottom: 16px;
	background-color: var(--color-bg-card);
	border: 2px solid var(--color-border);
	border-radius: var(--radius-xl);
	box-shadow: var(--shadow-md);
}
.documents-cards-item > * {
	margin: 0 8px;
}
.card-designation:not(:empty) {
	margin-top: 8px;
}
.card-name {
	margin-top: 16px;
	font-weight: 600;
}
.card-note:not(:empty) {
	margin-top: 24px;
}
.documents-cards-item-download__button {
	margin-top: 16px;
	margin-bottom: 8px;
}

section .documents-cards-item.admin-card {
	display: flex;
	justify-content: center;
	align-items: center;
}
.admin-card {
	height: 82px;
	width: 100%;
	border: 2px dashed var(--color-border);
	transition: 0.2s ease;
}

.admin-card:hover {
	transform: scale(1.02);
}
.admin-card:hover .admin-icon-add {
	opacity: 1;
	transform: scale(1.1);
}
