body.admin-mode .admin-icon,
body.admin-mode .admin-actions {
	display: grid;
}

body.admin-mode textarea {
	background-color: var(--color-bg-btn);
	border-radius: var(--radius-md);
	font-size: var(--font-size-base);
	border: 1px solid var(--color-border);
	outline: none;
	resize: none;
	margin: 4px 8px;
}

body.admin-mode .admin-news-text {
	height: 112px;
}

body.admin-mode input {
	margin: 4px 8px;
}

body.admin-mode .admin-icon-save {
	margin: 8px auto;
}

.admin-card {
	cursor: pointer;
}

body.admin-mode .admin-icon {
	cursor: pointer;
	transition: 0.2s ease;
	opacity: 0.5;
}

body.admin-mode .admin-icon:hover {
	opacity: 1;
	transform: scale(1.05);
}

body.admin-mode .admin-mode-exit {
	display: flex;
}
body.admin-mode .admin-mode-exit p:hover {
	opacity: 0.5;
	transform: scale(1);
}

body.admin-mode input:focus,
body.admin-mode textarea:focus {
	outline: none;
}

body:not(.admin-mode) .admin-icon,
body:not(.admin-mode) .admin-actions {
	display: none;
}
