.btn,
.download_button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 400;
	border: 2px solid var(--color-border);
	border-radius: var(--radius-md);
}

.btn:hover,
.download_button:hover {
	transform: scale(1.05);
}

.btn {
	background-color: var(--color-bg-btn);
	color: var(--color-text-primary);
	font-weight: 400;
	font-size: var(--font-size-lg);
	padding: 6px 12px;
	transition: 0.2s ease;
}

.download_button {
	background-color: var(--color-bg-btn-download);
	color: var(--color-text-secondary);
	font-weight: 400;
	font-size: var(--font-size-base);
	padding: 2px 4px;
	transition: 0.2s ease;
}
